@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 18px;
}

:root{
  --ff: 'PT Sans', sans-serif;
  --fw-n: 400;
  --fw-b: 700;
  --fs-p: 1rem;
  --fs-2: 3.55rem;
  --fs-3: 1.33rem;


  --bc-clr-light: #F8F8F8;
  --bc-clr-dark: #383838;
  --f-clr-light: #FFF;
  --f-clr-dark: #000000;
}

.page{
  width: min(100% - 2rem, 1200px);
  margin-inline:auto;

}

.features{
  width: 100%;
  padding: 5rem 2rem;
  border-radius: 50px;
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.features_color_light{
  background-color: var(--bc-clr-light);
  color: var(--f-clr-dark)
}

.features_color_dark{
  background-color: var(--bc-clr-dark);
  color: var(--f-clr-light)
}

.features_digits{
  --col-count: 4;
}

.features_principles{
  --col-count: 5;
}

.features__title{
  width: 60%;
  margin-inline: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--fs-2);
  font-family: var(--ff);
  line-height: 1.125em;
  font-weight: var(--fw-b);
}

.features__subtitle{
  width: 60%;
  margin-inline: auto;
  text-align: center;
  font-size: var(--fs-3);
  line-height: 1.2em;
  font-weight: var(--fw-n);
  margin-top: 0.75em;
  margin-bottom: 0;
  font-family: var(--ff);
}

.features-items{
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(var(--col-count),1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.feature-items__title {
  margin: 0;
  padding: 0;
  font-family: var(--ff);
  font-size: var(--fs3);
  font-weight: var(--fw-b);
  line-height: 1.15em;
}

.feature-items__text{
  margin-top: 1em;
  margin-bottom: 0;
  font-family: var(--ff);
  font-size: var(--fs-p);
  line-height: 1.2em;
}

.features__moon{
  background-image: url(../image/moon.png);
  background-repeat: no-repeat;
  width: 340px;
  height: 340px;
  background-size: cover;
  opacity: .3;
  position: absolute;
  bottom: -60px;
  left: 60px;
}

@media(max-width: 900px){
  .features_digits{
    --col-count: 2;
  }
  .features_principles{
    --col-count: 3;
  }
}

@media(max-width: 600px){
  .features_digits{
    --col-count: 1;
  }
  .features_principles{
    --col-count: 1;
  }
}
